;GateServer Initial information file 

[Main]
Name 			= Anchor_gate1
Version 		= 136

[GroupServer]
IP 				= 127.0.0.1
Port 			= 2322
EnablePing 		= 180

[ToClient]
//IP 				= 123456789123456123143241123243 //Some big invalid ip, otherwise it errors out on linux.
IP				= 0.0.0.0
Port 			= 1973
CommEncrypt 	= 1
EnablePing 		= 60
MaxConnection	= 1000
CheckSpan		= 2
CheckWaring		= 20
CheckError		= 40
WpeProtection	= 1
WpeVersion		= 0x8D1C
DDoSProtection	= 1

[ToGameServer]
IP 				= 127.0.0.1
Port 			= 2320
EnablePing 		= 180

[ShowRange]
ShowMin 		= 500
ShowMax 		= 800
IsUse 			= 1